# Définition

Les tuples sont des séquences hétérogènes non mutables.

Valeur littérale délimitée par des ```()``` :

In [1]:
() # tuple vide
(1, ) # tuple avec 1 seul élément
(1, 2, "timoléon") # tuple hétérogène avec 3 éléments

(1, 2, 'timoélon')

**Attention :** quand le tuple ne contient qu'un seul élément, il ne faut pas oublier la ```,```. Par exemple, ```(1)``` n'est pas un tuple mais une expression arithmétique qui vaut ```1```.

La fonction ```tuple``` permet de créer un tuple à partir d'une autre séquence (chaîne de caractères, listes, tuples, interval d'entiers) :

In [2]:
print("tuple() =", tuple())
print("tuple(\"timoléon\") =", tuple("timoléon"))
print("tuple([1, 2, 3, 4]) =", tuple([1, 2, 3, 4]))
print("tuple((1, 2, 3)) =", tuple((1, 2, 3)))
print("tuple(range(0, 11, 2)) =", tuple(range(0, 11, 2)))

tuple() = ()
tuple("timoléon") = ('t', 'i', 'm', 'o', 'l', 'é', 'o', 'n')
tuple([1, 2, 3, 4]) = (1, 2, 3, 4)
tuple((1, 2, 3)) = (1, 2, 3)
tuple(range(0, 11, 2)) = (0, 2, 4, 6, 8, 10)


**Récapitulatifs sur les différentes structures de données séquentielles :**

| | chaîne de caractères | liste | tuple |
|:- |:- |:- |:- |
|Mutabilité | Non | Oui | Non |
|Hétérogénéité | Non | Oui | Oui |
|Notation indicielle | Oui | Oui | Oui |
| Tranches | Oui | Oui | Oui |
|```len``` | Oui | Oui | Oui |
|```+```, ```*```| Oui | Oui | Oui |
|Itératable (```for```) | Oui | Oui | Oui |
|```in``` | Oui | Oui | Oui | 

**Utilisation typique des tuples :** regrouper ensemble des valeurs ayant un rapport avec les unes des autres.

Par exemple, si un élève est défini par son nom, son prénom et son âge, plutôt que d'avoir trois variables pour le représenter, on regroupera les informations dans un tuple :

In [3]:
élève = ("Timoléon", "George", 20)

In [4]:
def affiche_élève(élève):
    print("Nom :", élève[0])
    print("Prénom :", élève[1])
    print("Age :", élève[2])

affiche_élève(élève)

Nom : Timoléon
Prénom : George
Age : 20

# Affectation par tuple

Il est possible d'affecté plusieurs valeurs en une seule instruction en utilisant des tuples :

In [5]:
(x, y) = (1, 2)
print("x =", x)
print("y =", y)

x = 1
y = 2

On n'est pas obligé de mettre les parenthèses dans ces cas :

In [6]:
x, y = 2*x, 2*y + x
print("x =", x)
print("y =", y)

x = 2
y = 5

**Remarque :** les expressions de droite sont évaluées avant l'affectation

La syntaxe est :

* à gauche des identifiants séparées par des vigules
* à droite des expressions séparées par des virgules
* il doit y avoir autant de variables que d'expression

In [7]:
x, y = 1, 2, 3

ValueError: too many values to unpack (expected 2)

**Exemple :**

Il est possible de réécrire l'algorithme qui échange deux variables :

In [8]:
aux = x
x = y
y = aux

de manière plus élégante avec l'affectation par tuple :

In [9]:
x, y = y, x

# Tuple comme valeur de retour

Une fonction retourne dans les faits qu'une seule valeur.

Pour les tuples, il est possible de simplifier l'écriture en omettant les ```()``` ce qui donne l'impression que la fonction retourne plusieurs valeurs.

In [10]:
def division_entière(a, b):
    return a // b, a % b

quotient, reste = division_entière(13, 5)

print("13 = ", quotient, "* 5 +", reste)

13 =  2 * 5 + 3

**Remarque :** il est toujours possible de récupérer le résultat comme un tuple :

In [11]:
résultat = division_entière(13, 5)

print("type(résultat) =", type(résultat))
print("13 = ", résultat[0], "* 5 +", résultat[1])

type(résultat) = <class 'tuple'>
13 =  2 * 5 + 3

# Exercices

## Exercice 1

1. Ecrire une fonction ```entier_hasard``` paramétrée par un entier ```n``` qui retourne un tuple de longueur ```n``` d'entiers choisis au hasard entre 1 et 100.

In [8]:
import random

def entier_hasard(n):
    res = ()
    inter = ()
    for i in range (n):
        inter = (random.randint(0, 100),)
        res = res + inter 
    return res

x = 10
print(entier_hasard(x))

(38, 30, 40, 65, 2, 75, 14, 77, 84, 30)

2. Ecrire une fonction ```filtre_pair``` paramétrée par un tuple d'entiers ```t``` et dont le résultat est un tuple d'entiers obtenu en supprimant les éléments impairs de ```t```.

In [46]:
def filtre_pair(t):
    res = ()
    inter = ()
    for i in range(len(t)):
        if t[i]%2 == 0:
            inter = (t[i],)
            res = res + inter
    return res

x = 10
y = (entier_hasard(x))
print(filtre_pair(y))

(58, 46, 48, 8, 86, 28)

3. Ecrire une fonction ```filtre_indice_pair``` paramétrée par un tuple ```t``` et dont le résultat est le tuple obtenu en supprimant les éléments de ```t``` dont **les indice** sont impairs.

In [58]:
def filtre_indice_pair(t):
    res = ()
    inter = ()
    for i in range(len(t)):
        if i%2 == 0:
            inter = (t[i],)
            res = res + inter
    return res

x = 10
y = (entier_hasard(x))
print(filtre_indice_pair(y))

(32, 64, 72, 87, 65)

4. Ecrire les mêmes fonctions en utilisant des listes plutôt que des tuples.

In [67]:
import random

def entier_hasard(n):
    res = []
    inter = []
    for i in range (n):
        inter = [random.randint(0, 100),]
        res = res + inter 
    return res

def filtre_pair(t):
    res = []
    inter = []
    for i in range(len(t)):
        if t[i]%2 == 0:
            inter = [t[i],]
            res = res + inter
    return res

def filtre_indice_pair(t):
    res = []
    inter = []
    for i in range(len(t)):
        if i%2 == 0:
            inter = [t[i],]
            res = res + inter
    return res

x = 10
y = (entier_hasard(x))
print(filtre_indice_pair(y))

[50, 54, 25, 88, 74]

## Exercice 2

1. Ecrivez une fonction ```est_divisible``` paramétrée par un entier ```n``` et un tuple ```t``` d'entiers tous non nuls et dont le résultat est ```True``` s'il existe au un élément de ```t```qui divise ```n```, et ```False``` sinon.

In [21]:
def est_divisible(t, n):
    val = len(t)
    inter = ()
    for i in range(val):
        inter = t[i]
        if n%inter ==0:
            return True
    return False

tu = (3,4,6,7,8,9,5)
entier = 50

print(est_divisible(tu,entier))

TypeError: can only concatenate tuple (not "str") to tuple

**Rappel :** un nombre premier est un entier positif différent de 1 qui n'est divisible que par 1 et lui-même. Par exemple, 2, 3, 5, 7, 11 sont premiers tandis que $4 (= 2\times 2 ), 6 (= 2\times 3), 8 (=2\times 2\times 2), 10 (= 2\times 5)$ ne le sont pas.

2. Ecrivez une fonction ```énumère_premiers```dont le résultat est un tuple contenant les nombres premiers inférieurs ou égaux à ```n```.

Par exemple, ```énumère_premiers(100)``` retourne ```(2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97)```.

## Exercice 3

1. Ecrivez une fonction ```plus_longue_chaîne``` paramétrée par un tuple ```t``` de chaînes de caractères et qui retourne un tuple contenant les plus longues chaînes de caractères dans ```t```. 

Par exemple :

* ```plus_longue_chaîne(("abba", "anticonstitutionnellement", "baba", "timéoleon"))``` retourne ```("anticonstitutionnellement", )```
* ```plus_longue_chaîne(("abba", "la", "baba", "a"))``` retourne ```("abba", "baba")```

In [11]:
def plus_longue_chaine(t):
    res =()
    for i in range (len(t)):
        #print ("--- i :",i)
        #print("--- t",i, t[i])
        #print("--- res cal", res)
        if i == 0:
            #print ("if t0")
            res = t[0]
            #print (res)
        else:
            if len(t[i]) == len(res):
                res = (t[i], res)
                #print ("res == :", res)
            elif len(t[i]) > len(res):
                res = t[i]
                #print ("res > :", res)
        
    return res
    


x = ("abba", "anticonstitutionnellement", "baba", "timéoleon")
print("Résultat :",plus_longue_chaine(x))
x = ("abba", "la", "baba", "a")
print("Résultat :",plus_longue_chaine(x))

Résultat : anticonstitutionnellement
Résultat : ('baba', 'abba')

2. Modifiez votre fonction pour le cas où ```t``` est une liste.

## Exercice 4

1. Ecrire une fonction ```somme_imbriquée``` paramétrée par un tuple ```t``` de tuples d'entiers qui retourne deux valeurs :

* la somme totale des entiers des tuples imbriqués
* un tuple contenant pour chaque tuple de ```t``` la somme des entiers qu'il contient.

Par exemple, ```somme_imbriquée(((1, 2, 3), (4, 5), (6, 7)))``` retourne ```28``` et ```(6, 9, 13)```

In [ ]:
def somme_imbriquée(t):
    res = ()
    
x = (((1,2,3),(4,5),(6,7)))
print(somme_imbriquée(x))

2. Modifiez votre fonction pour qu'elle retourne un entier et une liste.

## Exercice 5

1. Ecrivez une fonction ```supprime``` paramétrée par un tuple ```t``` et un entier ```i``` et qui retourne un tuple correspondant au tuple ```t``` auquel on a retiré l'élément d'indice ```i```.

In [39]:
def supprime (t,i):
    res = ()
   
    for j in range (len(t)):
        if j != i-1:
            res = res + (t[j],)
    return res


x = ("1","2","3","4","5","6",)
y = 5

print (supprime(x,y))

('1', '2', '3', '4', '6')

2. Ecrivez une fonction ```ìnsère``` paramétrée par un tuple ```t```, un entier ```i``` et une valeur ```x``` qui retourne un tuple obtenu en insérant dans ```t``` la valeur ```x``` à l'indice ```ì```.

In [41]:
def insere (t,i,ins):
    res = ()
   
    for j in range (len(t)):
        if j == i-1:
            res = res + (ins,) + (t[j],)
        else:
            res = res + (t[j],)
    return res


x = ("1","2","3","4","5","6",)
y = 5
z = 8

print (insere(x,y,z))

('1', '2', '3', '4', 8, '5', '6')

3. Ecrivez une fonction ```échange``` paramétrée par un tuple ```t```, un entier ```i``` et une valeur ```x``` qui retourne un tuple obtenu en remplaçant l'élément dans ```t``` à l'indice ```i``` par la valeur ```x```.

In [43]:
def echange (t,i,ins):
    res = ()
   
    for j in range (len(t)):
        if j == i-1:
            res = res + (ins,) 
        else:
            res = res + (t[j],)
    return res


x = ("1","2","3","4","5","6",)
y = 5
z = 8

print (echange(x,y,z))

('1', '2', '3', '4', 8, '6')

4. Réécrivez ces fonctions pour des listes.

5. Réécrivez ces fonctions pour des chaînes de caractères.